* {
    margin: 0;
    padding: 0;
     box-sizing: border-box;
    font-family: Arial;;
}
.header_flex {
    display: flex;
    background-color: rgb(52,58,64);
    width: 100vw;;
    height:10vh;
    justify-content: center;
    margin: 0 auto;
}
.logo {
    display: flex;
    width: 50%;
    align-items: center;
    padding-left: 3rem;
}
.img_logo {
    width: 15%;
}
.hedTit {
    color: white;
    font-size: 1.3rem;
    font-weight: normal;
}
.navegador {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5rem;
}
.link {
    text-decoration: none;
    color: gray;;
    
}
.blanco {
    color: white;
}
.verde {
    color: green;
}
.imagen_ppal {
    display: flex;
    width: 100vw;
    height: 80vh;
    border: 1px solid black;
    margin: 0 auto;
}
.imagen_uno {
    background: linear-gradient(to right,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./imagen/ba1.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
}

.varios {
    color: white;
    padding: 15rem 7rem;
    text-align: right;
    line-height: 0.8rem;
    font-weight:0.3rem;
}
.titulo {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem
}

.link_dos  {
   padding-top: 2rem;
   
}
.link_dos a {
    text-decoration:none ;
    color:white;
    border-radius: 0.3rem;
    border: 1px solid white;
    padding: 0.7rem; 
    font-weight: 0.3rem;   
} 
.link_dost {
    background-color: rgb(41 167 68);
}
.orador {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.orador h2 {
    font-size: 0.6rem;
    padding-top: 1rem;
}
.orador h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}
.orador_ubi {
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.orador_flex {
    width:80%;
    display:flex;
    justify-content:space-between;
 }
 .tarjeta {
    background-color: white;
    width: 30%;
    border:1px solid rgb(214, 214, 214);
    border-radius: 10px;
    box-shadow: 0.5rem 0 0.5rem 0;
}

.imagen {
    width: 100%;
    border-radius: 10px;
    height:58%;
}
 .tar_ancla {
   width:100%;
   padding: 1rem 0.5rem 0 1rem;
 }
.tar_ancla h4 {
    margin-bottom: 1rem;
}
 .tar_ancla a{
    text-decoration: none;
    background-color: rgb(254 192 7);
    border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
    color: black;
    font-weight: bold;
    font-size: 0.8rem;
 }
 .tar_ancla .negocios{
    background-color: rgb(52,58,64);
    color: white;
 }
 .tar_ancla .react {
    background-color: rgb(116 199 212);
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
 }
 .tar_ancla .start {
    background-color: red;
 }
 .tar_p{
    width: 18vw;
    font-size: 0.8rem;
    color: rgba(0,0,0,0.7);
    line-height: 1.2rem;
    ;
}
.doble {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    margin: 2rem auto;
}
.izquierda {
    background-image: url("../multimedia/imagenes/bsastres.jpg");
    width:49%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border:  0.05rem solid white;
    box-shadow: 0.5rem 0 0.5rem 0;
}
.derecha {
    background-color: rgb(52,58,64);
    width: 49%;
    height: 100%;
   /* border: 0.05rem solid white;*/
    color: white;
    padding: 1.5rem 0.5rem 0 0.8rem;
    box-shadow: 1rem 0 1rem 0;
}
.derecha h2{
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 200;
}
.derecha p {
font-size: 0.8rem;
font-weight: normal;
line-height: 1.4rem;
padding-right: 1rem;
text-align: justify;
}
.ciudad:hover {
    background-image: url("../multimedia/imagenes/ba12.jpg")
}
.bsas a{
    color:rgb(116 199 212);
}
.conoce_bs {
    border: 1px double white ;
    width: 6rem;
    margin-top: 1rem;
    padding: 0.3rem;
    border-radius:0.3rem ;
}
.conoce_bs a {
    color: white;
    text-decoration:none;
    font-weight: normal;
    font-size: 00.8rem;
    padding: 3rem 0.2rem;
}
.ciudad:visited{
    background-image: url("./imagen/ba1.jpg");
}

.form_tit{
    text-align: center;
}
.formu_flex{
    display: flex;
    align-content: center;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    margin-top: 1rem;
    background-color: white;
   
}
.form_hijo_flex{
    display: flex;
     width: 70%;
     height: 100%;
    align-content:  center;
    flex-direction: column;
    
    margin: 0 auto;
}
.form_imp {
    display: flex;
    height:10%;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;
   
}
.datos {
    text-align: left;
    width:35%;
    border-radius: 0.5rem grey;
    margin-right: 1rem;
}
.form_tex {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-content: center;
    margin-top: 2rem;
    
}
.form_control {
    text-align: left;
    width: 72%;
    margin-left: 8.3rem;
    padding-left: 1rem;
    padding-top: 1rem;
}
.recuerda {
    display: flex;
    flex-direction: column;
    width: 78%; 
    margin-top: 1rem;
}
.recuerda h7{
     font-size: 0.7rem;
     width: 60%;
}
.color {
    margin-top: 2rem;
    background-image: linear-gradient(to left, rgb(41, 93, 126), rgb(54, 79, 94));
    width: 100%;
    height: 10vh;
    padding-left: 5rem;
    padding-right: 1rem;
}
